
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-3">
           
              
            </a>
            <div class="dropdown-menu">
              <a href="profile.html" class="dropdown-item">
                
              </a>
              <a href="settings.html" class="dropdown-item">
               
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a href="login.html" class="nav-link">
              <i class="fa fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
