<form action="/paystack/pay" method="POST" class="appointment-form ftco-animate">

    <div class="d-md-flex">

        <div class="form-group ml-md-4">
            <input type="submit" value="pay" class="btn btn-primary btn-sm my-2 p-2">
        </div>
    </div>
</form>