<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>landing page stuff and the link to admission form will be here</p>

    <p>Fill out admission form <a href="/admission">here</a> </p>
</body>
</html>